button {
    width: 135px;
    height: 37px;
    background: linear-gradient(to right, #539d73, #5b93b0);
    border: 0;
    color: white;
    font-family: vazir;
    margin: 10px;
    cursor: pointer;
}
