.box-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 30px auto;
    .box {
        width: 135px;
        height: 55px;
        background: white;
        border: 2px solid #EAEAEA;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #919191;
        cursor: pointer;
        &.fill-border1, &.fill-border2,&.fill-border3{
            border: 2px solid green;
            color:green;
        }
    }
}
